[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-bootstrap = "*"
flask-restplus = "*"
flask-swagger-ui = "*"
werkzeug = "===0.16.1"
azure-functions = "*"
azure-cosmos = "*"
pymongo = {extras = ["srv", "tls"], version = "*"}
azure-cli-core = "*"
feedgen = "*"
"azure.functions" = "*"

[dev-packages]
